<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.comtom.cbs.dao.DashboardTmplMapper">
	<resultMap id="BaseResultMap"
		type="cn.comtom.cbs.model.DashboardTmpl">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="tmpl_name" jdbcType="VARCHAR"
			property="tmplName" />
		<result column="block_num" jdbcType="INTEGER"
			property="blockNum" />
		<result column="search_position" jdbcType="INTEGER"
			property="searchPosition" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="cn.comtom.cbs.model.DashboardTmpl">
		insert into
		t_dashboard_tmpl(tmpl_name,block_num,search_position,create_time,update_time)
		VALUES (#{tmplName}, #{blockNum}, #{searchPosition},
		#{createTime},#{updateTime})
	</insert>
</mapper>