<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.comtom.cbs.dao.OrgMapper">
  <resultMap id="BaseResultMap" type="cn.comtom.cbs.model.Org">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="org_id" jdbcType="CHAR" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="parent_id" jdbcType="CHAR" property="parentId" />
    <result column="system_id" jdbcType="CHAR" property="systemId" />
    <result column="rooted" jdbcType="BIT" property="rooted" />
    <result column="leafed" jdbcType="BIT" property="leafed" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="CHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="CHAR" property="updateBy" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>